<div class="background-image " style="background-image: url(./assets/images/event-bg.jpg)">

<div class="container py-1">
    <div class="col-md-4 offset-md-4 mt-5">
        <div class="alert alert-info">
            Welcome to EVM, The Event Management Platform.
        </div>
        <div class="card">
            <h4 class="card-header">
                Sign-In
            </h4>
            <div class="card-body">
                <form [formGroup]="loginForm" (ngSubmit) = "onSubmit()">
                    <div class="form-group">
                        <label for="username">Username</label>
                        <input type="text" formControlName="username" class="form-control"
                        [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                        <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                            <div *ngIf="f.username.errors.required">Username is required</div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="password">Password</label>
                        <input type="password" formControlName="password" class="form-control"
                            [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                            <div *ngIf="f.password.errors.required">Password is required</div>
                        </div>
                    </div>
                    <div>
                    <button [disabled]="loading" class="btn btn-primary col">
                        <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                        Sign-In
                    </button>
                    <p class="text-center">
                        <small >
                            <a href="#" target="_top">Forgot Pasword? Reset</a>
                        </small>        
                    </p>
                    </div>
                    <div *ngIf="error" class="alert alert-danger mt-3 mb-0">
                        {{error}}
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<div class="text-center mt-1 pb-5">
    
    

    <p class="mt-3">
        <a class="btn btn-outline-success" href="#" target="_top">New user? Register</a>
    </p>
</div>
<!-- <div class="mb-1 py-1"></div>
</div> -->