<nav class="navbar navbar-expand navbar-dark bg-dark" >
    <a class="navbar-brand" href="#">{{msgFromParent}}</a>
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <!-- <a class="nav-item nav-link" routerLink="/admin" *ngIf="isAdmin">Admin</a> -->
        <!-- <a *ngIf="user" class="nav-item nav-link" (click)="logout()" href="javascript:void(0)">Sign-Out</a>
        <a *ngIf="!user" class="nav-item nav-link" routerLink="/login" href="javascript:void(0)">Sign-In</a>
         -->
            <div *ngIf="user" class="dropdown nav-item nav-link">
              <a href="javascript:void(0)" class="d-flex align-items-center link-light text-decoration-none dropdown-toggle" id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                <img src="https://github.com/mdo.png" alt="" width="24" height="24" class="rounded-circle me-2">
                <!-- <strong>mdo</strong> -->
              </a>
              <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser1">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a (click)="logout()" class="dropdown-item" href="javascript:void(0)">Sign-Out</a></li>
              </ul>
            </div>
            <div *ngIf="!user" class="dropdown nav-item nav-link">
              <a href="javascript:void(0)" class="d-flex align-items-center link-light text-decoration-none dropdown-toggle" id="dropdownUser2" data-bs-toggle="dropdown" aria-expanded="false">
                <!-- <div style="width: 32px;height: 32px;" class="rounded-circle me-2"> -->
                    Hello, Sign-In
                <!-- </div> -->
              </a>
              <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
                <li><a class="dropdown-item" href="#">New project...</a></li>
                <li><a class="dropdown-item" href="#">Settings</a></li>
                <li><a class="dropdown-item" href="#">Profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a routerLink="/login" class="dropdown-item" href="javascript:void(0)">Sign-In</a></li>
              </ul>
            </div>
    </div>
</nav>
<router-outlet></router-outlet>
<footer class="justify-content-between align-items-center">
    <!-- <div class="container-fluid"> -->
        <nav class="navbar navbar-expand navbar-dark bg-dark justify-content-center">
            <ul class="navbar-nav">
                <li>
                    <a class="nav-item nav-link pull-left" href="javascript:void(0)">
                        About Us
                    </a>
                </li>
                <li>
                    <a class="nav-item nav-link pull-left" href="javascript:void(0)">
                        Help
                    </a>
                </li>
                <li>
                    <div class="nav-item nav-link copyright pull-right">
                        &copy;
                        Event Management Solution.
                    </div>
                </li>
                
            </ul>
            
        </nav>
        
    <!-- </div> -->
  </footer>
